@import "tailwindcss";

@theme {
  --game-spacing: 32px;
  --header-height: 4rem;

  --color-wordle-success: hsl(150deg 70% 30%);
  --color-wordle-warning: hsl(50deg 100% 30%);
  --color-wordle-error: hsl(0deg 70% 45%);
  --color-wordle-gray-100: hsl(0deg 0% 10%);
  --color-wordle-gray-300: hsl(0deg 0% 25%);
  --color-wordle-gray-500: hsl(0deg 0% 50%);
  --color-wordle-gray-700: hsl(0deg 0% 75%);
  --color-wordle-gray-900: hsl(0deg 0% 90%);
}
